/* class to hide dialog boxes */
.hide {
  display: none;
  visibility: hidden;
}
/* h1 + Top section styling */
h1 {
  font-family: "Fredericka the Great", cursive;
  color: #172219;
  border-bottom: 1px solid goldenrod;
}
.title,
#filter-options {
  display: flex;
  justify-content: center;
}
#filter-options {
  gap: 5px;
}
#filter-type {
  border: none;
  background-color: beige;
  padding: 5px;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
}
#filter-type:hover {
  filter: opacity(70%);
}
p,
th,
td,
span,
option,
button {
  font-family: "Work Sans", sans-serif;
}
#more-info {
  padding: 8px;
  text-decoration: underline goldenrod;
  cursor: pointer;
}
button {
  border-radius: 6px;
  background-color: beige;
  text-transform: uppercase;
}
button:hover {
  background-color: goldenrod;
}
/* student details text */
.detail-wrapper {
  color: beige;
}
/* hack button bg styling */
.hack-wrapper {
  display: flex;
  justify-content: end;
}
#hack-button {
  color: goldenrod;
  font-weight: bold;
  padding: 8px;
  height: 50px;
  background-image: url("/otherimg/hack_background.jpg");
  border: 1.5px dotted red;
  margin-top: 8px;
}
#hack-button:hover {
  filter: opacity(70%);
  animation: hackanimation 1s ease 0s 2 normal forwards;
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
/* 
Generic Styling, for Desktops/Laptops 
*/
table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping so that it is easy to see the seperation */
tr:nth-of-type(odd) {
  background: #172219;
  color: rgba(225, 222, 222, 0.9);
}
th {
  background: #592202; /* the two colors here have a Gryffindor vibe when together */
  color: goldenrod;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
/* 
STYLING FOR MAKING THE TABLE RESPONSIVE FOR MOBILE/IPAD
*/
@media (max-width: 850px) {
  /* space around h1 on small screen */
  h1 {
    margin: 8px;
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* gets the table to behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Firstname: ";
  }
  td:nth-of-type(2):before {
    content: "Lastname: ";
  }
  td:nth-of-type(3):before {
    content: "Middlename: ";
  }
  td:nth-of-type(4):before {
    content: "Nickname: ";
  }
  td:nth-of-type(5):before {
    content: "House: ";
  }
  td:nth-of-type(6):before {
    content: "Bloodstatus: ";
  }
  td:nth-of-type(7):before {
    content: "Expelled?";
  }
  td:nth-of-type(8):before {
    content: "Prefect?";
  }
  td:nth-of-type(9):before {
    content: "SquadMember?";
  }
}
/* 
END STYLING FOR MAKING THE TABLE RESPONSIVE FOR MOBILE/IPAD
*/

/* BASIC STYLING DIALOG BOXES */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: beige;
  position: relative;
}

.closebutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.dialog h1 {
  margin-top: 0;
}

/* house crest settings */
img.crest {
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.237);
}
/* the class I manipulate by house in JS studentDetails */
.housestyling {
  background-color: #592202;
}
/* setting cursor and hover for fields */
[data-field="firstName"] {
  cursor: pointer;
}
[data-field="firstName"]:hover {
  color: goldenrod;
}
[data-field="expelled"] {
  cursor: pointer;
}
[data-field="expelled"]:hover {
  font-size: larger;
  color: red;
}
[data-field="prefect"] {
  cursor: pointer;
}
[data-field="prefect"]:hover {
  color: goldenrod;
}
[data-field="squadMember"] {
  cursor: pointer;
}
[data-field="squadMember"]:hover {
  font-size: larger;
}

/* @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) */
/* animation test */
.ifHackedExpell {
  animation: expellanimation 1s ease 0s 3 normal forwards;
  filter: grayscale(100%);
}
@keyframes expellanimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.ifHacked {
  animation: hackanimation 1s ease 0s 2 normal forwards;
  background: linear-gradient(
    0deg,
    rgba(97, 52, 52, 1) 0%,
    rgba(237, 235, 230, 1) 100%
  );
  filter: grayscale(100%);
}
@keyframes hackanimation {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
/* list status */
.listStatus {
  animation: listanimation 3s ease 0s 2 normal forwards;
}

@keyframes listanimation {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
